#######################################################################################################    
# ESP32 and Thermal Printer
#######################################################################################################
substitutions:
  name: "esphome-web-5d7790"
  friendly_name: "PRINTER"

  # UART-Pins  Printer using UART0
  uart_rx_pin: GPIO16            # Green wire
  uart_tx_pin: GPIO17            # Yellow wire

# ----------------------------------
# ----       CONFIG END         ----
# ----------------------------------  
esphome:
  name: "${name}"
  name_add_mac_suffix: false
  min_version: 2024.11.0
  project:
    name: vanhemert.printer
    version: "0.1"
  on_boot:
    - uart.write: 
        id: printer01
        data: "Connecting to Home Assistant\n"
    
esp32:
  board: esp32dev
#  framework:
#    type: esp-idf

# Enable logging
logger:
  baud_rate: 0

# Enable Home Assistant API
api:
  encryption:
      key: "Qa/VgI8wP3/db8OyRfHxY2eK7wdQ5ysB/sjzI2WShJE="
  services:
    - service: write
      variables:
        command: string
      then:
        - uart.write:                     # https://community.home-assistant.io/t/uart-send-text-from-helper/396803/7
            id: printer01
            data: !lambda |-
              std::string str = command;
              std::vector<uint8_t> vec(str.begin(), str.end());
              return vec;
  on_client_connected: # On successful connection to HA then set the status to standby
    - uart.write: 
        id: printer01
        data: "Connected to Home Assistant\n"  

  on_client_disconnected: # If the connection to HA is lost then set the status to connecting
    - uart.write: 
        id: printer01
        data: "Disconnected from Home Assistant\n"

# Allow Over-The-Air updates
ota:
- platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

#improv_serial:

captive_portal:

# UART
uart:
  # UART for the Thermal Printer
  id: printer01
  rx_pin: "${uart_rx_pin}"
  tx_pin: "${uart_tx_pin}"
  baud_rate: 9600
  debug:
    direction: BOTH
    dummy_receiver: false
    after:
      delimiter: "\n"
    sequence:
      - lambda: UARTDebug::log_string(direction, bytes);

switch:  
  # TEST PRINT
  - platform: template
    name: "Test print"
    id: test_print
    optimistic: true
    icon: mdi:line-scan
    entity_category: CONFIG
    restore_mode : RESTORE_DEFAULT_ON 
    turn_on_action:
      - uart.write: 
          id: printer01
          #data: [0x08, 0xC6, 0x04, 0x08, 0x00, 0xF2, 0xB8, 0x00, 0xFD, 0x7C]
          data: "\n\nTurned on\n"  
    turn_off_action:
      - uart.write: 
          id: printer01
          #data: [0x08, 0xC6, 0x04, 0x08, 0x00, 0xF2, 0xB8, 0x01, 0xFD, 0x7B]
          data: "\n\nTurned off\n"  


    
